/* Global
--------------------------------------------------------------------------- */

:root {
    --Blue-200: hsl(224, 100%, 95%);
    --Blue-400: hsl(220, 100%, 64%);
    --Blue-600: hsl(228, 100%, 60%);
    --Blue-700: hsl(228, 99%, 58%);
    --body-background: linear-gradient(45deg, var(--Blue-600), var(--Blue-700));
    --border: 1px solid rgb(255 255 255 / 0.25);
    --header-height: 60px;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: inter-variable, sans-serif;
    background-image: var(--body-background);
    color: hsl(0 0% 90%);
    min-height: 100%;
    display: grid;
    grid-template-rows: var(--header-height) minmax(300px, 1fr) repeat(4, 300px) auto;
}

main,
aside,
.statistics,
.statistics ul {
    display: contents;
}

ul {
    list-style: none;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
}

:is(nav, footer, .statistics) * {
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

.toggle-menu {
    background-color: transparent;
    border: 0;
}

.toggle-menu:hover {
    transform: scale(1.1);
}

.menu-overflow-hidden {
    overflow: hidden;
}

.highlight:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 0.04);
}

/* Header
--------------------------------------------------------------------------- */

header {
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    padding: 22px;
    background-image: var(--body-background);
}

header p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-right: 5px;
    border-radius: 50%;
}

/* Menu
--------------------------------------------------------------------------- */

#menu {
    position: fixed;
    z-index: 998;
    border: 0;
    top: var(--header-height);
    background: var(--body-background);
    width: 100%;
}

.menu-content {
    padding: 30px;
    max-height: 60vh;
    overflow: auto;
}

.menu-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-content a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.menu-content a:not(:target):hover {
    text-decoration: underline;
}

.menu-content a:target {
    text-shadow: 1px 1px black;
    border-bottom: 3px solid black;
}

#menu .background {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.25);
    top: 100%;
}

/* Hero
--------------------------------------------------------------------------- */

.hero {
    padding: 40px 20px 50px 30px;
    border-bottom: var(--border);
}

.hero p {
    line-height: 1.6;
}

/* Statistics
--------------------------------------------------------------------------- */

.statistics li {
    padding: 20px;
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statistics .top {
    display: flex;
    justify-content: space-between;
}

.statistics .top p {
    font-weight: bold;
    font-size: 32px;
}

.statistics .bottom p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

/* Footer
--------------------------------------------------------------------------- */

footer {
    padding: 20px;
}

/* Media
--------------------------------------------------------------------------- */

@media screen and (min-width:800px) {
    body {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: var(--header-height) 5fr 5fr 1fr;
        grid-template-areas:
            "header header header"
            "hero stat1 stat2"
            "hero stat3 stat4"
            "footer footer footer";
    }

    #header {
        grid-area: header;
    }

    .hero {
        grid-area: hero;
        display: flex;
        align-items: center;
    }

    .statistics li {
        border-left: var(--border);
    }

    .statistics li:nth-of-type(1) {
        grid-area: stat1;
    }

    .statistics li:nth-of-type(2) {
        grid-area: stat2;
    }

    .statistics li:nth-of-type(3) {
        grid-area: stat3;
    }

    .statistics li:nth-of-type(4) {
        grid-area: stat4;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    #menu {
        position: relative;
        top:0;
        grid-row: 2 / -1;
        grid-column: 3 / -1;
        width: auto;
        height: auto;
        border-left: var(--border);
    }

    .menu-content {
        max-height: calc(100vh - var(--header-height));
        overflow: visible;
    }

    .menu-content ul {
        align-items: end;
    }

    #menu .background {
        position: absolute;
        z-index: 998;
        width: 100vw;
        height: 100%;
        background-color: rgb(0 0 0 / 0.25);
        right: 100%;
        top:0;
    }

    .menu-overflow-hidden {
        overflow: scroll;
    }
}