/* Global
--------------------------------------------------------------------------- */

:root {
    --Blue-200: hsl(224, 100%, 95%);
    --Blue-400: hsl(220, 100%, 64%);
    --Blue-600: hsl(228, 100%, 60%);
    --Blue-700: hsl(228, 99%, 58%);
    --body-background: linear-gradient(to bottom, var(--Blue-600), var(--Blue-700));
    --border: 1px solid rgb(255 255 255 / 0.25);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    min-height: 100%;
}

body {
    font-family: inter-variable, sans-serif;
    background-image: var(--body-background);
    color: hsl(0 0% 90%);
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
}

nav,
footer,
.statistics {
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

.toggle-menu {
    background-color: transparent;
    border: 0;
}

.toggle-menu:hover {
    transform: scale(1.1);
}

/* Header
--------------------------------------------------------------------------- */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-bottom: var(--border);
    background-image: var(--body-background);
}

header p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-right: 5px;
    border-radius: 50%;
}

/* Hero
--------------------------------------------------------------------------- */

.hero {
    margin-top: 30px;
    padding:10px 10px 50px 30px;
    border-bottom: var(--border);
}

.hero p{
    line-height: 1.6;
}

/* Statistics
--------------------------------------------------------------------------- */